<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	beStrictAboutOutputDuringTests="true"
	failOnWarning="true"
	failOnRisky="true"
	cacheResultFile=".phpunit.cache/test-results"
	executionOrder="depends,defects"
>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">includes</directory>
		</include>
	</coverage>
	<php>
		<ini name="error_reporting" value="-1"/>
		<ini name="log_errors" value="0"/>
		<ini name="error_log" value="/dev/null"/>
		<server name="APP_ENV" value="testing"/>
	</php>
</phpunit>
